body {
    background-color: aliceblue;
    padding: 4px;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 64px;
    text-align: center;
}

button {
    width: 80px;
    height: 30px;
    border: none;
    font-weight: bold;
    background-color: aliceblue;
}

.submitbutton {
    color:cornflowerblue;
    background-color: aliceblue;
    border: double;
    width: 80px;
    height: 30px;
}

form {
    margin: 16px;
}

.resetbutton {
    color:red;
    background-color: aliceblue;
    border: double;
    width: 80px;
    height: 30px;
}


/*
한 개의 external CSS style sheet 파일 제출
<link rel = “stylesheet” type = “text/css” href = “main.css”>
login.html, signup.html에서 main.css를 참조하기 위한 코드
아래 10개의 properties 모두 사용 (한 개 당 5점)

background-color
text-align
padding
margin
border
font-size
font-family
color
width
height

컴포넌트들의 class명은 자유롭게 작성
*/